<?xml version="1.0" encoding="UTF-8"?>

<plist version="1.0">

	<dict>

		<key>CFBundleName</key>
		<string>##name##</string>

		<key>CFBundleDisplayName</key>
		<string>##dname##</string>

		<key>CFBundleIdentifier</key>
		<string>##identifier##</string>

		<key>CFBundleVersion</key>
		<string>##version##</string>

		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>

		<key>CFBundleExecutable</key>
		<string>##name##</string>

		<key>CFBundleIconFile</key>
		<string>icon.icns</string>

		<key>CFBundlePackageType</key>
		<string>APPL</string>

		<key>LSMinimumSystemVersion</key>
		<string>10.9.0</string>

		<key>NSHighResolutionCapable</key>
		<true/>

		</dict>

	</plist>

