# wengwengweng

[package]
name = "dirty"
description = "dirty tool kit"
version = "0.0.0"
authors = ["t <voygagaga@outlook.com>"]
repository = "https://github.com/slmjkdbtl/DIRTY"
license = "Zlib"
edition = "2018"
readme = "README.md"

[dependencies]
gl = "0.11.0"
image = "0.21.0"
tobj = "0.1.6"
rodio = "0.8.1"
glob = "0.3.0"
serde = { version = "1.0.89", features = ["derive"] }
serde_json = "1.0.38"
rand = "0.6.5"
serial = "0.4.0"
aseprite = "0.1.3"
derive_more = "0.14.0"
gilrs = "0.7.1"
laminar = "0.1.0"
rusttype = "0.7.5"
ezpanic = "0.0.0"
gctx = "0.2.0"
glutin = "0.20.0"
directories = "1.0.2"
# sokol = "0.2.0"

ggl_derive = { path = "src/macros/ggl" }

[target.'cfg(target_os="macos")'.dependencies]
core-foundation = "0.6.4"

