/* wengwengweng */

* {
	margin: 0;
	padding: 0;
	font-family: Monospace;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

body {
	padding-top: calc(24px + 2vw);
	padding-left: calc(24px + 2vw);
	background: black;
}

p {
	color: white;
}

a {
	color: pink;
	font-size: 14px;
	line-height: 1.3;
}

a:hover {
	background: pink;
	color: black;
}

canvas {
	border: solid pink 1px;
}

#logo {
	width: 120px;
	height: auto;
}

#intro {
	margin-top: 16px;
	font-size: 16px;
	margin-bottom: 9px;
}

