/* wengwengweng */

* {
	margin: 0;
	padding: 0;
	font-family: Monospace;
}

body {
	margin: 48px;
	background: black;
}

img {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

p {
	color: white;
}

a {
	color: pink;
	font-size: 14px;
	line-height: 1.3;
}

a:hover {
	background: pink;
	color: black;
}

pre, code {
	background: transparent !important;
}

#logo {
	width: 120px;
	height: auto;
}

#intro {
	margin-top: 16px;
	font-size: 16px;
	margin-bottom: 9px;
}

